// * {
//   border: 1px solid red;
// }

.row {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}

body {
  height: 2000px;
  font-family: "Cairo", sans-serif;
  background-color: #f8f8f8;
}

//  upper nav

.upper__nav {
  position: fixed;
  width: 100%;
  z-index: 123;
  color: #2a2c2a;
  background-color: #ffffff;
  padding: 23px 0px;

  .upper__nav__logo {
    img {
      padding: 0 0 0 47px;
    }
  }
  .upper__nav__input {
    input {
      width: 100%;
      margin-top: 8px;
      padding: 8px 6px;
      border: none;
      background-color: #f4f4f4;
      font-size: 17px;
      border-radius: 5px;
    }
  }

  .upper__nav__best {
    font-size: 20px;
    padding-top: 12px;
  }
}

.down__nav {
  background-color: #fff;
  color: #000000d6;
  padding-top: 117px;
  .down__nav__catigory__Brand {
    ul {
      display: flex;
      justify-content: space-around;
      padding-top: 5px;

      li {
        list-style: none;
        font-size: 19px;
        a {
          text-decoration: none;
          color: antiquewhite;
        }
      }
    }
  }

  .down__nav__icons {
    display: flex;
    justify-content: space-around;
    padding-top: 5px;
    padding-bottom: 5px;
    ul {
      display: flex;
      justify-content: space-around;
      padding: 9px 0px;
      margin: 0 16% 0 0px;
      li {
        list-style: none;
        font-size: 13px;
        padding: 0 6px;
        i {
          padding: 0 2px;
        }
      }
    }
  }
}

//mainSection__content__header

.mainSection__content__header {
  .mainSection__content__productOption {
    .dropdown-toggle {
      width: 196px;
      font-size: 15px;
      padding: 3px 0;
      border: 1px solid;

      &:hover,
      &:focus {
        outline: none;
        box-shadow: none;
      }
    }

    .dropdown-menu {
      width: 100%;
      li {
        width: 100%;
      }
    }
  }
}

// mainSection__filter

.mainSection__filter {
  background-color: #fff;
  border-radius: 12px;
  padding: 21px 20px;
  font-size: 13px;

  .mainSection__filter__item1,
  .mainSection__filter__item2,
  .mainSection__filter__item3 {
    p {
      margin: 0 0;
      border-bottom: 1px solid #d8d8d8;
      border-top: 1px solid #d8d8d8;
      position: relative;
      button {
        font-size: 16px;

        box-shadow: none;
        text-align: left;
        &:hover,
        &:focus {
          box-shadow: none;
        }
      }
      i {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        margin: 10px 0 0 0;
      }
    }

    .collapse {
      height: auto;
      .card-body {
        padding: 0px;
        border: none;

        .list-group {
          padding: 5px 0px;

          li {
            &:first-child {
              input {
                outline: none;
                box-shadow: none;
                width: 100%;
                border-radius: 5px;
                padding: 2px 4px;

                &:focus {
                  outline: none;
                  box-shadow: none;
                }
              }
            }
          }

          li {
            border: none !important;
            width: 100%;
            .input-group {
              input {
                margin: 5px 7px 0 0;
                border-radius: 4px;
              }
            }
          }
        }
      }
    }
  }
}

//breadcrumb

.breadcrumb {
  margin: 0px 0px 14px 0px;
  li {
    margin: 8px 17px;
  }
}

// mainSection__seconde

.mainSection__seconde {
  margin: 60px 0 0 0;
}

// mainSection__content__item style

.mainSection__main__row {
}

.mainSection__content {
  margin: 26px 0 0 0;
  h3 {
    margin: 0 0 48px 0;
  }
}
.mainSection__content__item {
  // box-shadow: 2px 3px 11px 0px;
  padding: 21px 5px;
  font-weight: bold;
  font-size: 12px;
  background: #fff;
  border-radius: 11px 11px 0 0;
  margin: 12px 0 0 0;

  .mainSection__content__item__title {
    span {
      color: #555555ba;
    }
  }

  .mainSection__content__item__img {
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
    }
  }

  .mainSection__content__item__rate {
    span:first-child {
      color: #ff9900;
    }
    span:last-child {
      color: #555555ba;
    }
  }
  .mainSection__content__item__oldPrice {
    color: #555555ba;
    text-decoration: line-through;
  }

  .mainSection__content__item__newPrice {
    color: #eb1d36cf;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;

    span {
      font-size: 14px;
    }
  }
}
.mainSection__content__item__footer {
  border-radius: 0 0 7px 7px;
  background-color: #fff;
  a {
    width: 100%;
    padding: 5px 0;
    border: none;
    color: #816797;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 5px;
    &:hover {
      color: #816797;
    }
  }
}
