// * {
//   border: 1px solid red;
// }

.row {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}

body {
  height: 2000px;
  font-family: "Cairo", sans-serif;
  background-color: #f8f8f8;
}

//  upper nav

.upper__nav {
  position: fixed;
  width: 100%;
  z-index: 123;
  color: #2a2c2a;
  background-color: #ffffff;
  .upper__nav__logo {
    img {
      padding: 0 0 0 47px;
    }
  }
  .upper__nav__input {
    input {
      width: 100%;
      margin-top: 8px;
      padding: 8px 6px;
      border: none;
      background-color: #f4f4f4;
      font-size: 17px;
    }
  }

  .upper__nav__best {
    font-size: 20px;
    padding-top: 12px;
  }
}

.down__nav {
  background-color: #fff;
  color: #000000d6;
  padding-top: 63px;
  .down__nav__catigory__Brand {
    ul {
      display: flex;
      justify-content: space-around;
      padding-top: 5px;

      li {
        list-style: none;
        font-size: 19px;
        a {
          text-decoration: none;
          color: antiquewhite;
        }
      }
    }
  }

  .down__nav__icons {
    display: flex;
    justify-content: space-around;
    padding-top: 5px;
    padding-bottom: 5px;
    ul {
      display: flex;
      justify-content: space-around;
      padding: 9px 0px;
      margin: 0 16% 0 0px;
      li {
        list-style: none;
        font-size: 13px;
        padding: 0 6px;
        i {
          padding: 0 2px;
        }
      }
    }
  }
}

// mainSection__content__item style

.mainSection {
  .row .accordion {
    padding: 63px 0px 0px 0px;
  }

  .mainSection__seconde {
    margin: 81px 0 0 0;
  }
}

.mainSection__content {
  margin: 83px 0 0 0;
  h3 {
    margin: 0 0 48px 0;
  }
}
.mainSection__content__item {
  // box-shadow: 2px 3px 11px 0px;
  padding: 8px 5px;
  font-weight: bold;
  font-size: 12px;
  .mainSection__content__item__title {
    span {
      color: #555555ba;
    }
  }

  .mainSection__content__item__img {
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
    }
  }

  .mainSection__content__item__rate {
    span:first-child {
      color: #ff9900;
    }
    span:last-child {
      color: #555555ba;
    }
  }
  .mainSection__content__item__oldPrice {
    color: #555555ba;
    text-decoration: line-through;
  }

  .mainSection__content__item__newPrice {
    color: #eb1d36cf;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;

    span {
      font-size: 14px;
    }
  }
}
.mainSection__content__item__footer {
  a {
    width: 100%;
    padding: 5px 0;
    border: none;
    color: #816797;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 5px;
    &:hover {
      color: #816797;
    }
  }
}
